

.sidebar{
	/* fixed width */
	--flex-basis: 30rem; 
	/* rekative width: % or vw */
	--min-width: 20%; 
	--margin: 2rem; 
	/* Sometimes escape overflow */
	/* overflow: hidden; */
 

}

.sidebar > * {
	display: flex; 
	flex-wrap: wrap;
	/* margin */
	margin: calc(var(--margin) / 2 * -1);
}

.sidebar > * > * {
	flex-grow: 1; 
	flex-basis: var(--flex-basis); 
	/* margin */
	margin: calc(var(--margin) / 2);
}

.sidebar > * > :last-child {
	flex-grow: 999; 
	flex-basis: 0; 
	min-width: calc(var(--min-width) - var(--margin));
}

/* Modifier */

.large{
	--flex-basis: 10rem; 
	--min-width: 70%;
	--margin: 4rem;  
}

.small{
	--flex-basis: 10rem; 
	--min-width: 60%; 
	--margin: 0.5rem; 
}