/* Cover Images Slideshow */
.cover{
	position: fixed; 
	z-index: -10; 
	width: 100%; 
}

.mySlides{
	height: 100vh; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	}	
/* Page Title */
.page-title{
	position: absolute; 
	top: 50%; 
	left: 50%;
	font-size: 6rem; 
	line-height: 0.9em; 
	letter-spacing: -0.03em; 
	transform: translate(-50%, -50%);

}
/* .title__onScroll{
	
	padding-top: 8px; 
	border-bottom: 1px solid red; 
	background-color: white; 

	h1{
		font-size: 1rem; 
		width: 860px; 
	}
} */

  .content{
	
	opacity:0.4;
	background-color: var(--bg); 
	position: absolute; 
	height: auto; 
	overflow: scroll;
	padding-top: 20vh;
	padding-inline: 1em;
	/* margin-inline: 0.75em;  */
	transform: translate(-100%);
	transition: all 0.2s;  
	z-index: 1; 
	@media (min-width: 40em){
		max-width: 66%;
		margin: 0;
	}
}
.content.open{
	opacity:1;
	transform: translate(0);
}

header{
	position: fixed; 
	top:0;
	left: 0; 
	display: flex;
	justify-content: flex-start; 
	gap: 4px; 
	width: 100%; 
	z-index: 10; 
	 .link{
		width: 100%; 
		color: white; 
		background-color: black; 
		padding: 0.3em 1em; 
		font-size: 1rem; 
		line-height: 1em; 
		text-decoration: none;
		
		
	}
	@media (min-width: 40em){
		header{
			
		}
		.link{
			width: auto; 
			font-size: 2rem; 
			transition: 0.2s ease-in;
			
			&:hover{
				background-color: red;
			}
		}
	}
}



/* Impressum Haftungsauschluss */
  .impressum{
	
	font-size: 0.75rem; 
	padding-bottom: 2em; 
	p {
		margin-bottom: 1em; 
	}

	h2{
		font-family: Space-Bold;
		margin-bottom: 1em; 
	}
	h3{
		font-family: Space-Bold;
	}
	p strong{
		font-family: Space-Bold;
	}
  }


  /* Footer */
  .logo-container{
	padding-block: 1em; 
	border-top: 1px solid red; 
	
	img{
		max-width: 320px;
		max-height: 68px; 
		object-fit: contain;
	}
}

footer{
	position: fixed;
	bottom: 0; 
	left: 0;
	right: 0;  
	background-color: white; 
	border-top: 1px solid red; 
	& > * {
		display: inline-block;
	}
}
/* Listenabschnitte */
.item{
	margin-bottom: 2em; 
	position: relative; 
	h3{
		margin-bottom: 0.5em; 
	}
	p{
		
		font-size: 0.875rem; 	
		line-height: 1.3em; 
		border-top: 1px solid #000; 
		padding-top: 0.5em; 
		span{
			font-family: Space-Bold;
		}
		.date{
			font-size: 0.75rem; 
			border-radius: 999px; 
			border: 1px solid #000; 
			line-height: 1; 
			display: inline-block;
			padding-inline: 0.5em;
			padding-top: 0.2em;
			padding-bottom: 0.1em;  
		}
	}
}

.share-links{

	display: flex; 
	justify-content: flex-start; 
	align-items: center;
	gap: 0.5em; 
	border-top: 1px solid #000; 

	margin-top: 0.5em;  
	padding-top: 0.5em; 
	svg{
		display: inline-block;
		width: 32px;
		height: 32px; 
	}

}

.item-heading{
	display: flex; 
	justify-content: flex-start;
	align-items: center;
	gap: 1em; 
	svg{
		display: inline-block;
		width: 32px;
		height: 32px; 
		&:hover{
			opacity: 0.85;
			stroke: red; 
		}
	}

}
/* Projekte */

.project-link{
	/* border: 1px solid red;  */
	background: transparent;
	border-radius: 6px; 
	display: flex; 
	gap: 1em; 
	padding-block: 1em; 
	padding-left: 1em; 
	text-decoration: none; 
	color: inherit; 
	transition: all 0.2s ease-in; 
	&:hover{
		background: #eee; 
		
	}
	svg{
		/* border: 1px solid red;  */
		display: block; 
		width: 44px;
		height: 44px;  
	}
	.project-text{
		padding-top: 0.2em; 
		p{
			font-size: 0.75rem; 
			text-transform: uppercase;
			margin-bottom: 1em; 
			.download-data{
				margin-left: 1em; 
			}
		}
		h4{
			font-size: 1.5rem; 
			line-height: 1.1em; 
		}

	}

}