/* Cover Images Slideshow */
.cover{
	position: fixed; 
	z-index: -10; 
	width: 100%; 
	/* display: flex; 
	justify-content: center; */
}

.mySlides{
	height: 100vh; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	}	
/* Page Title */
.page-title{
	font-family: var(--ff-bold);
	position: absolute; 
	top: 50%; 
	left: 50%;
	width: 100%; 
	padding-inline: 0.5em; 
	font-size: 4rem; 
	line-height: 0.9em; 
	letter-spacing: -0.06em; 
	transform: translate(-50%, -50%);
	@media (min-width: 40em) {
		font-size: calc(11vw - 1rem); 
	}
}

  .content{
	
	opacity:0.4;
	background-color: var(--bg); 
	position: absolute; 
	height: auto; 
	overflow: scroll;
	padding-top: 120px;
	padding-inline: 1em;

	transform: translate(-100%);
	transition: all 0.2s;  
	z-index: 1; 
	box-shadow: 10px 0px 30px 0px rgba(127, 157, 231, 0.3);
	@media (min-width: 50em){
		max-width: 40em;
		margin: 0;
	}
	@media (min-width: 50em){
		max-width: 50em;
		padding-inline: 2em; 
		padding-top: 200px; 
		
	}
}
.content.open{
	opacity:1;
	transform: translate(0);
}

header{
	position: fixed; 
	top:0.5em; 
	left: 0.5em; 
	display: flex;
	justify-content: flex-start; 
	gap: 4px; 
	z-index: 10; 
	svg{
		width: 24px;
		height: 24px; 
	}
	 .link{
		display: flex; 
		justify-content: center;
		align-items: center;
		gap: 1em; 
		width: 54px;
		height: 54px; 
		color: white; 
		background-color: var(--black); 
		text-decoration: none;
		border-radius: 999px; 
		transition: all 0.1s ease-in; 
	span{
		display: none; 
		font-family: var(--ff-bold);
		text-transform: uppercase;
		line-height: 1em;
	}
	
	}
	@media (min-width: 40em){
		.link{
			width: auto; 
			height: auto; 
			font-size: 1rem; 
			transition: 0.2s ease-in;
			padding-block: 1em ;
			padding-inline:1.8em; 
			span{
				display: block;
			}
		}
	}
	@media (hover: hover)  {
		.link:hover { 
			opacity: 0.9;
			transform: translateY(8px) }
	  }
	  @media (min-width: 50em){
		left: 1em; 
		top: 1em; 
	  }
	
}
.content-toggle svg{
	transition: all 0.2s;
	transform: rotate(45deg);
}


  /* Förder  */
 .support{
	padding-block: 1em; 
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: start;
	span{
		height: 60px;
		object-fit: contain;
		margin-bottom: 1em;
	}
	svg{
		display: inline-block;
		height: 100%; 
		width: 100%; 
		opacity: 0.8; 
		
	}
	.logo-bau{
		height: 40px;
	}
	.logo-bbsr{
		height: 40px; 
	}
	@media (min-width: 50em){
		grid-template-columns: repeat(3, 1fr);
		gap: 2em;
		justify-items: center; 
		svg{
			height: 40px; 
		}
	  }

}

footer{
	font-size: 0.875rem; 
	line-height: 1.2em; 
	border-top: 1px solid black; 
	padding-top: 1em; 
	padding-bottom: 2em; 

	/* & > * {
		display: inline-block;
	} */
}
/* Listenabschnitte */
.item{
	margin-bottom: 0.5em; 
	padding-top: 1em; 
	position: relative; 
	/* display: flex;  */
	/* flex-direction: column;  */
	border-top: 1px solid var(--black);
	h3{
		margin-bottom: 0.2em; 
	}
	p{
		
		font-size: 0.875rem; 	
		line-height: 1.3em; 
		padding-top: 0.5em; 

		span{
			font-family: var(--ff-bold);
			@media (min-width: 50em){
				letter-spacing: 0.01em; 
			} 
		}
		.date{
			font-size: 0.75rem; 
			border-radius: 999px; 
			background-color: var(--white);
			opacity: 0.75; 
			/* border: 1px solid var(--black);  */
			line-height: 1; 
			display: inline-block;
			padding-inline: 0.5em;
			padding-top: 0.1em;
			padding-bottom: 0.1em; 
			@media (min-width: 50em){
				font-size: 1.2rem; 
				letter-spacing: 0.03em; 
			}  
		}
		@media (min-width: 50em){
		
			font-size: 1.2rem; 
			letter-spacing: 0.03em; 
			padding-top: 1em; 
		} 
	}
}

/* Download einträge */
.item-heading{
	display: flex; 
	justify-content: flex-end;
	align-items: flex-end;
	gap: 0.5em;
	margin-top: 0.5em; 

	.heading-icons{ 

		display: flex;
		align-items: center; 
		gap: 0.2em; 
	
		/* border: 1px solid red;  */
		
	}
	
	svg{
		display: inline-block;
		width: 28px;
		height: 28px; 
	
		transition: all 0.2s ease-out; 
		
		@media (min-width: 50em) {
		
			width: 48px;
			height: 48px; 
			
		} 
		@media (hover:hover){
			&:hover{
				opacity: 0.85;
				transform: translateY(-8px);
			}
		}
	

	}
}	

/* Projekte */

.project-heading{
	display: flex; 
	align-items: baseline;
	gap: 0.5em;
	.project-number{
        font-size: 6rem; 
	}
	@media(min-width: 50em){
		font-size: 2.5rem; 
		letter-spacing: -0.02em; 
		.project-number{
			font-size: 10rem; 
		}
	}
}

.project-link{
	/* border: 1px solid red;  */
	background: transparent;
	border-radius: 6px; 
	display: flex; 
	gap: 0.5em; 
	align-items: flex-start; 
	margin-bottom: 1em; 
	text-decoration: none; 
	color: inherit; 
	transition: all 0.2s ease-in; 
	
	svg{
		/* border: 1px solid red;  */
		/* display: block;  */
		width: 44px;
		height: 44px;
		transition: all 0.2s;  
		@media(min-width: 50em){
			width: 60px;
		height: 60px;
		}
	}
	.project-text{
		width: 100%; 
		p{
			font-size: 0.875rem; 
			text-transform: uppercase;
			padding-top: 0.5em;
			padding-bottom: 0.3em; 
			margin-bottom: 0.5em; 
			border-bottom: 1px solid white; 
			.download-data{
				margin-left: 0.5em; 
			}
		}
		h4{
			font-size: 1.5rem; 
			line-height: 1.1em; 
		}

	}
	@media (hover: hover)  {
		&:hover { opacity: 0.75;
			 
			svg{
				transform: translateY(-8px);
			}
		}
		
	  }

}
