
@font-face{
  font-family:'Space-Regular';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(fonts/SpaceGrotesk-Regular.woff2), url(fonts/SpaceGrotesk-Regular.woff);
}
@font-face{
  font-family:'Space-Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/SpaceGrotesk-SemiBold.woff2), url(fonts/SpaceGrotesk-SemiBold.woff);
}

:root{

  --bg: #FBDBEA;
  --black: rgba(0,0,0,0.85);
  --white: rgba(255,255,255,0.8);
  --ff-reg: Space-Regular; 
  --ff-bold: Space-Bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  font-family:var(--ff-reg);
  font-size: 1rem; 
  line-height: 1.4em;
  letter-spacing: 0.03em;  
  word-spacing: -0.06em;
  color: var(--black); 
  @media(min-width: 50em){
    font-size: 1.25rem; 
    letter-spacing: 0.015em; 
    word-spacing: -0.03em;
    line-height: 1.6em;
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit

}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  color: rgb(0, 106, 83);
  background: white;
}