@font-face{
    font-family:'Space-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SpaceGrotesk-Regular.woff2), url(fonts/SpaceGrotesk-Regular.woff);
}
@font-face{
    font-family:'Space-Bold';
    font-style: normal;
    font-weight: 600;
    src: url(fonts/SpaceGrotesk-Bold.woff2), url(fonts/SpaceGrotesk-Bold.woff);
}

h2{
    font-family: Space-Bold;
    font-weight: normal;
    font-size: 1.3rem; 
    line-height:1.1em;
    letter-spacing: 0.01em;
    margin-bottom: 1em; 
    .project-number{
        border: 1px solid red; 
        display: block;
        font-size: 3rem; 
      
    }
 
}
h2 + h3{
    margin-bottom: 1em; 
    padding-block: 0.5em; 
    color: #616161; 
    font-size: 0.9rem; 
    letter-spacing: 0.06em;
    line-height: 1.2em; 
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 

}
h3{
  
    font-size: 1rem; 
    line-height: 1.2em; 
}
h4{
    font-family: Space-Bold;
    text-transform: uppercase; 
    margin-bottom: 1em; 
}

section{
    margin-bottom: 6em; 
}

/* Listen */
ul.list{
list-style: none; 
padding-left: 0;
line-height: 1.2em; 
margin-bottom: 2em;  


li{
    border-bottom: 1px solid #000; 
    padding-block: 0.5em; 
    span{
        font-family: Space-Bold;
    }
}
li.list-institution{
    font-family: Space-Bold;
     color:var(--black); 
     padding-bottom: 0.2em; 
}

}
